<p>「ラーメン二郎」初心者のためのコール（呪文）ジェネレータ</p>
<h3>お好みのオプションを選んで、正しい呪文を確認しましょう。</h3>
<h2>（店員）:ニンニク入れますか？</h2>
<h2>（呪文）:</h2>
<p class="mashi">麺:</p>
<select id="list1" name="list1" size="1">
<option value="1">無し</option>
<option value="1">少なめ</option>
<option value="2">普通</option>
<option value="3">多め</option>
<option value="4">非常に多め</option>
<option value="5">極めて多め</option>
</select>
<p class="mashi">野菜:</p>
<select id="list2" name="list2" size="1">
<option value="100">無し</option>
<option value="110">少なめ</option>
<option value="210">普通</option>
<option value="310">多め</option>
<option value="410">非常に多め</option>
<option value="510">極めて多め</option>
</select>
<p class="mashi">背脂:</p>
<select id="list3" name="list3" size="1">
<option value="150">無し</option>
<option value="16">少なめ</option>
<option value="26">普通</option>
<option value="36">多め</option>
<option value="46">非常に多め</option>
<option value="56">極めて多め</option>
</select>
<p class="mashi">スープのタレ:</p>
<select id="list4" name="list4" size="1">
<option value="1">無し</option>
<option value="1">少なめ</option>
<option value="2">普通</option>
<option value="3">多め</option>
<option value="4">非常に多め</option>
<option value="5">極めて多め</option>
</select>
<p class="mashi">にんにく:</p>
<select id="list5" name="list5" size="1">
<option value="1">無し</option>
<option value="1">少なめ</option>
<option value="2">普通</option>
<option value="3">多め</option>
<option value="4">非常に多め</option>
<option value="5">極めて多め</option>
</select>
<button>呪文を唱える</button>